<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="cxffin.monster" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cxffin.monster" />
    <meta property="og:image" content="/assets/imgs/marchal.webp" />
    <meta 
    	property="og:description" 
    	content="welcome to the coffin 
    	the madafaking goth kids <3" 
    />
    <meta name="theme-color" content="#0c0c0c">
	<link rel="stylesheet" type="text/css" href="/assets/css/card.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
	<link rel="icon" href="/assets/imgs/koala.svg">
	<title>monster kids</title>
	<style>
	</style>
</head>
<body>
	<div class="container">
		<div class="body">
			<div>
				<div>
					<div class="dot hidden" id="dot"></div>
					<h1>monster kids</h1>
					<div class="subtitles">
						<h2 id="play">click for music</h2>
						<div class="popup">
							<h2 class="show-devs">show devs</h2>
							<div class="popuptext hidden">
						        <%- include ('partials/profile_card.ejs', {
						            username: 'osint', 
						            discriminator: '1706', 
						            connection: 'OSintt', 
						            status: 'welcome to the coffin',
						            emojiURL: 'https://cdn.discordapp.com/emojis/923382908650135592.gif?size=40&quality=lossless',
						            imageURL: '/assets/imgs/marchal.webp',
						            connectionURL: 'https://github.com/OSintt'
						        }) %> 
						        <%- include ('partials/profile_card.ejs', {
						            username: 'yokscraxker', 
						            discriminator: '0800', 
						            connection: 'yoks', 
						            status: '.gg/cxffin',
						            emojiURL: 'https://cdn.discordapp.com/emojis/796227233797767240.webp?size=40&quality=lossless',
						            imageURL: '/assets/imgs/yoks.webp',
						            connectionURL: 'https://github.com/OSintt'
						        }) %>
						        <%- include ('partials/profile_card.ejs', {
						            username: 'Ørbit', 
						            discriminator: '1790', 
						            connection: 'GHOST_Orbit', 
						            status: 'compraré un dominio a osint',
						            emojiURL: 'https://cdn.discordapp.com/emojis/796227233797767240.webp?size=40&quality=lossless',
						            imageURL: 'https://cdn.discordapp.com/attachments/898284414965014548/939757673501589514/b27f38a0178119bcf74a7e86949da1fc.png',
						            connectionURL: 'https://github.com/Orbit'
						        }) %>  
						    </div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="head">
			<span>cxffin.monster</span>
			<span>welcome to the coffin</span>
		</div>
		<div class="footer">
			<a href="https://mxnly.monster" target="__blank">mxnly</a>
			<a href="https://github.com/OSintt" target="__blank">web src</a>
			<a href="https://discord.com/cxffin" target="__blank">hker</a>
		</div>
	</div>
	<script src="https://unpkg.com/scrollreveal"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
	<script type="text/javascript" src="/assets/js/scripts.js"></script>
</body>
</html>