.profile-card-wrapper {
  margin: 1em;
  display: none;
}

.profile-card {
  background: #18191c;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);
  width: 300px;
  padding: 1em;
}

.profile-user {
  color: #fff;
  font-weight: 600;
  display: flex;
}

.profile-user span {
  color: #b9bbbe;
}

.profile-avatar {
  border-radius: 50%;
  background-color: #18191c;
  height: 50px;
  width: 50px;
  border: 7px solid #18191c;
  background-size: contain;
  margin-top: -30px;
  margin-left: -5px;
}

.profile-banner {
  width: inherit;
  height: 20px;
}

.profile-status {
  color: #dcddde;
  font-size: 14px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-status > div {
  display: flex;
  align-items: center;
}
.status-emoji {
  width: 25px;
  height: 25px;
  margin-right: 7px;
}

.divider {
  height: 1px;
  margin-bottom: 1px;
  background: hsla(0, 0%, 100%, 0.06);
}

@media (max-width: 758px) {
  .profile-card-wrapper {
    margin: 1em 0 0 1em;
  }
  .profile-card {
    width: 120px;
    margin: 0;
  }

  .profile-info {
    display: block;
    word-break: break-all;
  }

  .profile-user {
    display: block;
  }
  .profile-status .profile-status-first {
    display: none;
  }

  .profile-avatar {
    display: block;
  }
}
